*{
    text-transform: capitalize;
    margin: 0;
    /* text-align: center; */
    padding: 0;
    text-decoration: none;
    /* color: aliceblue; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
.navbars {
     text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background-color: rgb(147, 0, 42); 
    border-radius: 0 0 50% 50%;
    padding: 20px 80px ;
    text-align: center;
    /* width: 100%; */
}
.navbars ul{
    /* background-color: #fff; */
    text-align: center;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.navbars ul li img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    /* animation-name: lefts;
    animation-duration: 2s; */
    /* animation-delay: 1s; */
}

.navbars ul li{
    justify-content: space-between;
    text-align: center;
    
    animation-name: lefts;
    animation-duration: 2s;
}
.about {
    padding: 50px;
    align-items: center;
    display: flex;
    text-align: left;
    color: rgb(231, 198, 198);
    animation-name: lefts;
    animation-duration: 2s;

}
.about h2 {
    text-align: left;
    color:  rgb(147, 0, 42);
    padding: 10px;
    font-weight: 900;
}
.about h3{
    color: antiquewhite;
    padding: 10px 40px;
}
.about p{
    text-align: left;
    color: rgb(227, 187, 187);
    padding: 10px 40px;

}
.about .icons{
    padding: 10px 40px;
}
.about .icons a{
    color: antiquewhite;
    transition: 0.5s;

}
.about .btn{
    padding: 30px 40px;
}
.about .btn a{
    padding: 8px 24px;
    background-color:rgb(147, 0, 42) ;
    color: antiquewhite;
    border-radius: 40px;
    transition: 0.5s;
}
.about .btn a:hover{
    padding: 9px 27px;
    background-color:rgb(180, 1, 52) ;
    color: antiquewhite;
    text-decoration: none;
    box-shadow: 1px 1px 5px wheat;
}
.about .icons a:hover{
    color: rgb(147, 0, 42);
    font-size: 30px;
    text-shadow: 1px 1px 5px wheat;
    text-decoration: none;
    
}
.about img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    animation-name: tops;
    animation-duration: 2s;
}
.hiddens{
    display: none;
}
.showens{
    display: block;
}
.my-name{
    color: bisque;
    letter-spacing: 0.5px;
    /* animation-name: show;
    animation-duration: 2s; */
}
.clickable-element {
    cursor: pointer;
    color: blanchedalmond;
    padding: 5px 12px;
    margin: 5px;
    border-radius: 50px;
    /* border: 1px solid #ccc; */
  }

  .selected-element {
    border: 2px solid rgb(215, 196, 215);
    box-shadow: 1px 1px 5px rgb(196, 124, 124);
    border-radius: 50px;
  }


/* sm */
.smlink {
    display: none;
}
.smlink ul {
    display: block;
    padding: 10px 0;
}
.smlink ul li {
   padding: 0 0 5px;
}
@media (max-width:700px) {
    .headen{
        display: none;
    }
    .showen{
        display: block;
    }
    .scal{
        scale: 0.8;
    }
    .pd{
        padding: 20px 5px;
        text-align: center;
    }
    .centers{
        display: block;
        text-align: center;
        width: 100%;
        /* background-color: #fff; */
        
    }
}
.scals{
    scale: 0.7;
}
.headSEC {
    color: black;
    text-align: center;
}
/*                      */

/* 
.grow::before ,.grow::after{
   content: '';
   position: absolute;
   left: -2px;
   top: -2px;
   background-color: linear-gradient(red,black,green,blue); 
   background-size: 400%;
   width: calc(100% + 20px);
   height: calc(100% + 5px);
  z-index: -1;
} */
.skills {
    padding-top: 20px;
}
.skills .head-skill{
    color:  rgb(147, 0, 42);
    padding-top: 20px;
}
.skills .cap-skill{
    color: rgb(227, 187, 187);
    padding: 10px;
}
.skills .lang{
    color: antiquewhite;
    font-size: 2em;
    animation-name: lefts;
    animation-duration: 2s;
}
.skills .lang span{
    color:rgb(147, 0, 42);
}
.cardSkill{
    background-color: rgba(245, 245, 245, 0) ;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 0.5px solid rgb(147, 0, 42);
    color: blanchedalmond;
    /* padding: 40px; */
    animation-name: tops;
    animation-duration: 2s;
    transition: 0.5s;
}
.cardSkill:hover{
    padding: 7px;
    box-shadow: 1px 1px 5px wheat;
}
.cardSkill img{
    border-radius: 50%;
}
.cardSkill h3{
    text-align: center;
    color: rgb(246, 230, 230);
}
.last{
    padding: 40px 50px;
    color: antiquewhite;
}
.last ul{
    padding: 0 30px;
}
.last ul li{
    transition: 0.6s;
}
.last ul li:hover{
    color: rgb(147, 0, 42);
}
@keyframes lefts {
    0%{
      translate: -100px 0;
    }
    100%{
      translate: 0 0;
    }
  }
 @keyframes tops {
    0%{
      translate: 0 100px;
    }
    100%{
      translate: 0 0;
    }
  }
 @keyframes show{
    0%{
        width: 0px;
        color: blue;
    }
    25%{
        width: 25px;
        color: aqua;
    }
    50%{
        width:50px ;
        color: bisque;
    }
    75%{
        width: 75%;
        color: rgb(124, 73, 11);
    }
    100%{
        width: 100%;
        /* color: bisque; */
    }
 }  
 .borders {
    border: 3px solid rgb(147, 0, 42);
    padding: 10px 15px;
    box-shadow: 1px 1px 5px wheat;
    border-radius: 30px;
    margin-bottom: 20px;
 }

 /* scroll */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #858383;
}
::-webkit-scrollbar-thumb{
    background: #0000006a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #000000;
}

.contact form{
   margin: 20px auto;
    color: antiquewhite;
    text-align: center;
}
.contact form input , textarea{
    width: 80%;
    margin:0 0 20px 0;
    color: aliceblue;
    background-color: rgba(103, 22, 4, 0.269);
    padding: 5px 20px;
    border: 0.7px solid wheat;
    border-radius: 30px;
}
.contact .btn{
    width: 80px;
    background-color: rgb(147, 0, 42);
}
.contact h2{
    text-align: center;
    color: rgb(147, 0, 42) ;
}
.contact .email a{
    padding: 40px 0;
    text-align: center;
    color: antiquewhite;
    transition: 0.5s;
}
.contact .email a:hover{
  text-decoration: none;
    color:  rgb(147, 0, 42) ;
}
.animicon{
    color: antiquewhite;
    transition: 0.5s;
}
.animicon:hover{
    color: rgb(147, 0, 42);
}
a:hover{
  text-decoration: none;
    /* color:  rgb(147, 0, 42) ; */
}
